@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


body {
    background-color: #f1f1f1;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.login-container {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 560px;
    padding: 60px 50px;
}

.login-container h2 {
    color: rgba(138, 73, 214, 1);
    font-weight: 600;
    font-size: 30px;
}

.login-container h2 img {
    height: 26px;
    width: 20px;
}

.stat-value {
    font-weight: 600;
    color: rgba(20, 20, 20, 0.6);
    font-size: 44px;
    margin-top: 10px;
}


.btn-status {
    font-size: 14px;
    letter-spacing: 0%;
    background-color: rgba(255, 229, 229, 1);
    border-radius: 20px;
    padding: 5px 15px;
    width: fit-content;
    color: rgba(255, 0, 0, 1);
    margin-top: 10px;
    border: none;
}

.btn-action {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    /* gap: 10px; */
}

.btn-action button {
    border-radius: 20px;
    background-color: transparent;
    /* border: none; */
    padding: 8px 30px;

}

.btn-action .btn-start {
    background-color: rgba(234, 255, 237, 1);
    border: 1px solid rgba(234, 255, 237, 1);
    color: rgba(23, 139, 44, 1);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0%;
    display: flex;
    align-items: center;

}

.btn-action .btn-start i {
    color: rgba(23, 139, 44, 1);
    font-size: 20px;
}

.btn-action .btn-pause {
    background-color: rgba(251, 241, 214, 1);
    border: 1px solid rgba(251, 241, 214, 1);
    color: rgba(221, 158, 0, 1);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0%;
    display: flex;
    align-items: center;

}

.btn-action .btn-pause i {
    color: rgba(221, 158, 0, 1);
    font-size: 20px;
}

.btn-action .btn-stop {
    background-color: rgba(255, 234, 234, 1);
    border: 1px solid rgba(255, 234, 234, 1);
    color: rgba(255, 0, 0, 1);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0%;
    display: flex;
    align-items: center;

}

.btn-action .btn-stop i {
    color: rgba(255, 0, 0, 1);
    font-size: 20px;
}

.counter {

    /* height: 200px; */
    background-color: rgba(20, 20, 20, 0.06);
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
}

.Session {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.total-time {
    color: rgba(20, 20, 20, 0.6);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.timer {
    font-weight: 500;
    font-size: 14px;
}

.time-border {
    border-bottom: 1px solid rgba(20, 20, 20, 0.2);
    padding: 15px 0px;
}

.btn-logout{
    background-color: rgba(251, 0, 0, 1);
    margin-top: 30px;
    width: 100%;
    border: none;
    padding: 10px 0px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}




@media (max-width: 768px) {
    .login-container {
        width: 90%;
    }

    .login-container {

        padding: 40px 20px;
    }

    .login-container h2 {
        font-size: 25px;
    }

    .btn-action {

        flex-wrap: wrap;
        gap: 10px;
    }

    .btn-action button {
        border-radius: 20px;
        background-color: transparent;
        /* border: none; */
        padding: 6px 20px;

    }
}

@media (max-width:375px){
    .counter{
        padding: 20px 10px;
    }
    .total-time {
        gap: 5px;
        font-size: 14px;
    }
}